/* Your styles here */
/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* BODY */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.65;
  letter-spacing: 0.4px;
}
/*HEADER */
header {
  background-color: black;
  text-align: center;
}
header img {
  padding-block: 2em;
}
/* MAIN */
/* 1ST SECTION WITH THE TITLE */
#Title-section {
  text-align: center;
  padding-block: 2em;
  padding-inline: 2em;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: bottom 0px right -105px;
}
#Title-section h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 1em;
  font-weight: bold;
  font-size: 2em;
  color: #25a2c3;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}
#Title-section button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #f04c2f;
  border: none;
  padding-block: 1.3em;
  padding-inline: 2.5em;
  margin-block: 2.3em;
  border-radius: 0.5em;
}
