/* Your styles here */
/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* GENERAL */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.65;
  letter-spacing: 0.4px;
}
.Headings {
  font-family: "Montserrat", sans-serif;
  line-height: 1em;
  font-weight: bold;
  font-size: 1em;
  color: #25a2c3;
}
/*HEADER */
header {
  background-color: black;
  text-align: left;
}
header img {
  padding-block: 2em;
  padding-left: 2em;
}
/* MAIN */
/* 1ST SECTION WITH THE TITLE */
#Title-section {
  text-align: center;
  padding-block: 2em;
  padding-inline: 2em;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: bottom 0px right -105px;
}
#Title-section h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 1em;
  font-weight: bold;
  font-size: 2em;
  color: #25a2c3;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}
#Title-section button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #f04c2f;
  border: none;
  padding-block: 1.3em;
  padding-inline: 2.5em;
  margin-block: 2.3em;
  border-radius: 0.5em;
}
/* MIDLLE SECTION */
.Middle-Section {
  padding-inline: 2em;
  text-align: center;
}
#FirstMiddle h4 {
  margin-top: 3em;
  margin-bottom: 1em;
}
.Middle h4 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.last {
  margin-bottom: 2em;
}
/* CIRCOLAR IMG */
#Cimg {
  width: 90%;
  border-radius: 50%;
  margin-top: 2em;
}
/* RED SECTION */
#Red-section {
  background-color: #e22d0e;
  text-align: center;
  color: white;
  padding-inline: 1.7em;
  margin-bottom: 3.5em;
  margin-top: 4em;
  padding-bottom: 1em;
}
#Red-section h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  line-height: 1em;
  font-weight: bold;
  font-size: 1.8em;
  padding-block: 1.8em;
}
#Red-section p {
  padding-bottom: 1.8em;
  font-style: italic;
}
#Red-section h6 {
  font-size: 1.2em;
}
#Red-Footer {
  font-size: 0.8em;
}
/* BOX MODEL */
.Box-Container {
  margin: 0em 1.5em 2em;
  border: 1px solid #dee1e3;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  text-align: center;
}
.Box-Container img {
  width: 100%;
}
.Box-Container h4 {
  padding-top: 1.5em;
}
.Box-Container p {
  padding-block: 1.5em;
}
.Box-Container h4,
p {
  padding-inline: 1em;
}
/* FOOTER */
footer {
  background-color: #25a2c3;
  text-align: center;
  color: #b9dcdb;
  padding-bottom: 3.5em;
  margin-top: 4em;
}
footer a {
  color: #b9dcdb;
}
footer h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  line-height: 1em;
  font-weight: bold;
  font-size: 1.8em;
  padding-top: 1.3em;
  padding-bottom: 0.8em;
}
#footerP {
  border-top: 1px solid #b9dcdb;
  margin-inline: 7em;
  padding-top: 2.3em;
  margin-top: 2em;
  font-size: 0.8em;
  display: inline-block;
  padding-inline: 0;
}
footer i {
  color: white;
}
